<app-header [cartprices]='carttotal' [cartStatus]='cartstatus' [(cartProductdetails)]='cartProductdetails'></app-header>
<div class="Popular-Restaurants-content">
  <div class="Popular-Restaurants-grids">
    <div class="container">
      <div class="Popular-Restaurants-grid wow fadeInRight" data-wow-delay="0.4s">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-3" *ngFor="let restaurant of restaurantData">
              <figure>
                <a routerLink="/restaurants/{{restaurant._id}}">
                  <img [src]="restaurant.restarunt_image" style="height:250px" class="img-responsive" alt="" />
                </a>
                <figcaption>
                  <h4 class="res-name text-center">{{restaurant.restarunt_name}}</h4>
                  <div class="text-center">{{restaurant.restarunt_address}}</div>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
