<app-header [cartprices]='carttotal' [cartStatus]='cartstatus' [(cartProductdetails)]='cartProductdetails'></app-header>
<div class="container">
    <h3 class="h3">Available Items </h3>
    <div class="col-md-3 col-sm-6" *ngFor="let item of itemData | slice:0:[max]; let i=index">
        <div class="product-grid4">
            <div class="product-image4">
                <a href="#">
                    <img class="pic-1" [src]="item.item_image">
                    <img class="pic-2" [src]="item.item_image">
                </a>
                <ul class="social">
                    <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
                <span class="product-discount-label">-10%</span>
            </div>
            <div class="product-content">
                <h3 class="title"><a href="#">{{item.item_name}}</a></h3>
                <!-- <ul style="color:gold;font-size:15px;padding: 5px;" [ngStyle]="{'font-style': styleExp}">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li> (feedbacks)
                </ul>-->
                <div class="star-ratings-css">
                    <div class="star-ratings-css-top" [ngStyle]="{ 'width': getStars()}">
                        <span class="star"></span>
                    </div>
                </div>
                <!-- <div class="ratings">
                    <div class="empty-stars"></div>
                    <div class="full-stars" [ngStyle]="{ 'width': getStars() }"></div>
                </div>-->
                <div class="price" style="padding: 0px;font-size: xx-large;">
                    ${{item.item_price}}
                    <span>${{item.item_price}}</span>
                </div>
                <a class="add-to-cart" (click)="addCart(item)">Add to cart</a> </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
